<div class="container" >
  <div class="first-content" fxLayout="column" fxLayoutGap="60px">
    <h1>Alquila tu invernadero Ideal cerca de tí!</h1>

    <mat-form-field class="example-form-field" appearance="outline" autocomplete="off">
      <mat-label>
        <mat-icon>search</mat-icon>
      </mat-label>
      <input matInput type="text">
    </mat-form-field>
    <div class="compromety" fxLayout="row" fxLayoutGap="60px">
      <div>
        <img src="../../assets/home/seedling.jpeg" alt="seedling" height="250px" width="auto">
      </div>
      <div>
        <div class="title">
          <h2>Comprometidos con el medio ambiente</h2>
        </div>
        <div class="content">
          <p>descripcion descripcion descripcion descripcion descripcion descripcion descripcion descripcion descripcion
            descripcion descripcion descripcion descripcion descripcion descripcion descripcion descripcion descripcion
            descripcion descripcion </p>
        </div>
      </div>
    </div>
  </div>
</div>