<mat-toolbar  fxFlex="row">
  
  <mat-toolbar-row class="container">
    
    <a href="/">
      <img src="../../assets/LogoAgrorent.svg" alt="logo" height="40px" width="auto">
    </a>
    <a routerLink="/rent">
      <span>Alquilar</span>
    </a>
    <!-- <a [routerLink]="['/advertise']">
    <span>Anuncia tu invernadero</span>
  </a> -->
    <a href="/loggin">
      <span>iniciar sesión</span>
    </a>
    <!-- <a href="/us">
    <span>Nosotros</span>
  </a> -->
    <span class="example-spacer"></span>
    <a href="/perfil" *ngIf="userLogged|async as user" class="profile-email">
      <span>{{user.email}}</span>
    </a>
    <a href="/perfil" *ngIf="userLogged|async as user">

      <img *ngIf="user.photoURL" class="profile-photo" src="{{user.photoURL}}" alt="" srcset="" height="30px"
        width="30px">
    </a>
  </mat-toolbar-row>
</mat-toolbar>


