.container{
    padding: 100px;
    min-height:200px;
    min-width:300px;
    background-color: rgb(150, 202, 150);
    margin: auto 0;
}
.image{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}