/* You can add global styles to this file, and also import other style files */
// :root {
//     touch-action: pan-x pan-y;
//     height: 100%
//   }
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@100;200;300;400;500;600&family=Source+Sans+Pro&display=swap");
html,
body {
    height: 100%;
    width: 100%;
    display: grid;
}
body {
    font-family: "Poppins", sans-serif;
}

