<div class="container">
  <div class="first-content" fxLayout="column" fxLayoutGap="60px">
    <h1>Alquila tu invernadero Ideal cerca de tí!</h1>

   
    <div class="compromety" fxLayout="row" fxLayoutGap="100px">
      <div>
        <img src="../../assets/home/seedling.jpeg" alt="seedling" height="250px" width="auto">
      </div>
      <div>
        <div class="title">
          <h2>¿Cúal es nuestra misión?</h2>
        </div>
        <div class="content">
          <p>Nuestra principal motivación es hacer que la sociedad sea más emprendedora, para ello, hemos desarrollado
            AgroRent para incentivar el emprendimiento en el sector joven agrícola.
          </p>
          <p>No solo eso, sino que también tenemos un compromiso social, cada transacción corresponderá a una donación
            de 3€ a una sociación benefica realacionada con el medio ambiente.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="space-image">

  </div>
  <div class="offer" fxLayout="row" fxLayoutGap="60px">

    <div>
      <div class="title">
        <h2>Comprometidos con el medio ambiente</h2>
      </div>
      <div class="content">
        <p>Nos aseguraremos mediante algoritmos que no se infringe ninguna política que ataque contra nuestro planeta,
          no solo eso, los productos que puedes adquirir en esta págona web, como semillas, tierra, etc. tiene la
          garantización de que todos los embases, plásticos o papeles son biodegradables.</p>
      </div>

    </div>
    <div>
      <img src="../../assets/home/seedling-2.jpeg" alt="seedling" height="250px" width="auto">
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>