.container {
    color: white;
    text-align: center;
    margin: auto 0;
    margin-left: -8px;
}
mat-form-field {
    width: 500px;
    margin: auto;
}
.compromety {
    padding: 80px;
}
.first-content {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #00855d;
}
.offer {
    padding: 80px;
    padding-top: 160px;
    padding-bottom: 160px;
    color: black;
}
img {
    border-radius: 25px;
}

.space-image {
    background-image: url("../../assets/home/background-image.jpeg");
    height: 150px;
    width: 100%;
    background-attachment: fixed;
    overflow: scroll;
}
