<div class="container">
    <div fxFlex="row">
        <p> <u>Políticas </u></p>
        <hr>
        <p>Cookies</p>
    </div>
    <div fxFlex="row">
        <p> <u>Nosotros</u></p>
        <hr>
        <p>¿Quién anda detras de este proyecto?</p>
    </div>
    <div fxFlex="row">
        <p> <u>Para Compradores</u></p>
        <hr>
        <p>Más sobre AgroRent</p>
    </div>
    <div fxFlex="row">
        <p> <u>Para vendedores</u></p>
        <hr>
        <p>¿Por qué AgroRent?</p>
    </div>
</div>