<div class="container">
    <div fxFlex="row">
        <p> <u>link 1 </u></p>
        <hr>
        <p>tal</p>
        <p>tal</p>
        <p>tal</p>
    </div>
    <div fxFlex="row">
        <p> <u>link 2 </u></p>
        <hr>
        <p>tal</p>
        <p>tal</p>
        <p>tal</p>
    </div>
    <div fxFlex="row">
        <p> <u>link 3 </u></p>
        <hr>
        <p>tal</p>
        <p>tal</p>
        <p>tal</p>
    </div>
    <div fxFlex="row">
        <p> <u>link 4 </u></p>
        <hr>
        <p>tal</p>
        <p>tal</p>
        <p>tal</p>
    </div>
</div>