.container {
    display: block;
    height: 200%;
}
.image {
    margin-left: -35px;
    background-image: url("../../assets/loggin/register.jpeg");
    zoom: 25%;
}
.loggin {
    
    background-color: #00855d;
    text-align: center;
    padding: 4%;
    color: rgb(255, 255, 255);
}
mat-label {
    color: rgb(255, 255, 255);
}
input {
    color: rgb(217, 217, 217);
}
mat-hint {
    color: black;
}
mat-form-field {
    width: 80%;
}

button {
    width: 80%;
    height: 48px;
    margin-bottom: 16px;
}
.send {
    background-color: #04c35c !important;
}
.google {
    background-color: #2d3748 !important;
    color: #ffffff;
}
a {
    color: white;
}
a:hover {
    color: rgb(220, 217, 217) !important;
}
a:visited {
    color: white;
}
// modificar los inputs

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(255, 255, 255) !important;

    opacity: 1 !important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(255, 255, 255) !important;
}

// mat-input error outline color
::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
    .mat-form-field-outline-thick {
    color: red !important;
    opacity: 0.8 !important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: red !important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: red !important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: rgba(255, 255, 255, 0.6) !important;
    // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgb(255, 255, 255) !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: rgb(255, 255, 255) !important;
}
