<div class="container" fxLayout="row">
    <div class="image" fxFlex="50">

    </div>
    <div class="loggin" fxFlex="50">
        <div class="content-loggin">
            <h2>Registrate!</h2>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre y Apellido</mat-label>
                    <input name="email" matInput autocomplete="">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input name="email" matInput autocomplete="">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input name="email" matInput autocomplete="">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Repita la contraseña</mat-label>
                    <input name="email" matInput autocomplete="">
                </mat-form-field>
            </p>
            <button class="send" mat-flat-button color="accent">Enviar</button>
            <button class="google" mat-flat-button color="accent"> <img src="../../assets/google-logo.svg" height="25px"
                    alt=""> Inicia sesión con Google</button>
        </div>

    </div>
</div>
