<div class="container" fxLayout="row">
    <div class="image" fxFlex="50">

    </div>
    <div class="loggin" fxFlex="60">
        <div class="content-loggin" >
            <h2>Inicia sesión</h2>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input name="email" matInput [(ngModel)]="usuario.email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" autocomplete="off">
                    <mat-label>Password</mat-label>
                    <input type="password" name="password" matInput [(ngModel)]="usuario.password" >
                </mat-form-field>
            </p>
            <button class="send" mat-flat-button color="accent" (click)="login()">Enviar</button>
            <button class="google" mat-flat-button color="accent" (click)="loginWithGoogle()"> <img
                    src="../../assets/google-logo.svg" height="25px" alt=""> Inicia sesión con Google</button>

            <!-- en el componente logout -->
            <button *ngIf="userLogged|async as user" class="send" mat-flat-button color="accent"routerLink="/perfil" >Perfil</button>
            <button *ngIf="userLogged|async as user" class="send" mat-flat-button color="accent" (click)="logOut()">Cerrar Sesión</button>
        </div>
        <p><a href="/register">Registrate</a> si aún no lo has hecho</p>

    </div>
</div>