
<div fxLayout="row wrap" class="container">
    <div *ngIf="anuncios.length <= 0" class="empty">
        <p>No hay anuncios en estos momentos, suba uno o espere.</p>
        <img src="../../assets/rent/empty.gif" alt="" >
    </div>
    <div *ngFor="let anuncio of anuncios">


        <mat-card class="cards">
            <mat-card-header>
                <mat-card-title>{{anuncio.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/rent/finca.jpeg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    {{anuncio.description}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Ver anuncio</button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>